.header,
.logoAndNavigation,
.menuTrigger,
.cartAndProfile,
.menuTriggerAndLogo {
    display: flex;
    align-items: center;
}

.cartAndProfile,
.menuTriggerAndLogo {
    gap: 1rem;
}

.cart{
    color: var(--neutral-dark-grayish-blue);
}

.header.mobile {
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.menuTrigger {
    flex-direction: column;
}

.header.desktop {
    display: none;
    justify-content: center;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
}

.logoAndNavigation {
    gap: 4rem;
}

.profile{
    border: 2px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out;
}
.profile:hover{
    border: 2px solid var(--primary);
    cursor: pointer;
}

@media screen and (min-width: 64rem) {
    .header.mobile {
        display: none;
    }

    .header.desktop {
        display: flex;
    }

    .cartAndProfile{
        gap: 2rem;
    }
    .headerContainer{
        border-bottom: 1px solid var(--neutral-grayish-blue);
    }
    .profile{
        border: 3px solid transparent;
    }
    .profile:hover{
        border: 3px solid var(--primary);
    }
}