.gallery {
    display: flex;
}

.productImage {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
}

.thumbnails {
    display: flex;
    gap: 1.5rem;
}

.thumbnail {
    display: flex;
    width: 100%;
    border: 0.2rem solid transparent;
    transition: 250ms ease-out;
    border-radius: 0.5rem;
    overflow: hidden;
}

.productSelectedImage {
    border-radius: 0.5rem;
}

.thumbnail.selected {

    border: 0.2rem solid var(--primary);
    background: var(--neutral-white);
}

.galleryImage,
.productSelectedImage,
.thumbnailImage {
    width: 100%;
    height: auto;
    transition: 250ms ease-out;
}

.thumbnail:hover .thumbnailImage,
.selected .thumbnailImage {
    opacity: 0.5;
}

.thumbnail:hover .thumbnailImage {
    cursor: pointer;
}


@media screen and (min-width: 64rem) {
    .gallery {
        display: none;
    }

    .productImage {
        display: flex;
    }
}